/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

/* Variables */
:root {
	--normal-font: 10px;
	--montserrat: 'Montserrat', sans-serif;
}

/* Global Styles */
html {
	scroll-behavior: smooth;
	font-size: var(--normal-font);
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--montserrat);
	font-weight: 200;
	line-height: 1.5;
	font-size: 1.8rem;
}

h1 {
	font-size: 3rem;
	font-weight: 400;
}

h2 {
	font-size: 3rem;
	font-weight: 400;
}

/* Styles */
.wrapper {
	overflow: hidden;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}

.nav-bar-container {
	display: flex;
	align-items: center;
}

.nav-bar {
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 10;
	padding: 1.5rem 0;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}

.jumbotron {
	height: 60vh;
	padding-top: 20vh;
}

.jumbo-container {
	padding: 4rem 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: center;
}

.jumbo-title {
	text-align: center;
}

.jumbo-text {
	font-size: 2rem;
	margin: 1rem auto;
	text-align: center;
}

.add {
	margin-top: 1rem;
	padding: 1rem 4rem;
	align-self: center;
	font-size: 1.5rem;
	font-weight: 400;
	font-family: inherit;
	border: 2px solid black;
	color: black;
	border-radius: 2rem;
	text-transform: uppercase;
	background-color: transparent;
	cursor: pointer;
	transition: background-color .2s ease, color .2s ease;
}

.add:hover {
	color: white;
	background-color: black;
}

.right-side, .left-side {
	display: flex;
	flex-direction: column;
}

.manga-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 1rem;
	min-height: 50vh;
	margin-bottom: 2rem;
}

.manga {
	border-radius: 2rem;
	color: white;
	padding: 2rem;
	height: 200px;
}

.manga-title {
	font-size: 2rem;
	font-weight: 400;
}

.manga span {
	display: block;
}

.add-form {
	z-index: 100;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.add-form .form {
	width: 30%;
	background-color: white;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
	padding: 4rem;
	display: flex;
	flex-direction: column;
	border-radius: 2rem;
	position: relative;
}

.add-form label {
	font-weight: 400;
}

.add-form input {
	padding: 0.5rem;
	margin-bottom: 2rem;
	font-family: inherit;
}

.add-form button {
	padding: 1rem;
	background-color: transparent;
	border: 2px solid black;
	color: black;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color .2s ease, color .2s ease;
}

.add-form button:hover {
	color: white;
	background-color: black;
}

.add-form i {
	position: absolute;
	right: 2.5rem;
	top: 2rem;
	cursor: pointer;
	transition: .3s transform ease;
}

.add-form i:hover {
	transform: scale(1.25) rotate(30deg);
}

.show {
	display: flex;
}

.blur {
	filter: blur(2px);
}

@media only screen and (max-width: 800px) {
	.nav-bar-container {
		justify-content: center;
	}

	.jumbo-container {
		padding: 0;
		grid-template-columns: repeat(1, 1fr);
	}

	.jumbo-text {
		width: 500px;
	}

	.right-side {
		margin-top: 2rem;
	}

	.manga-collection {
		padding: 0 2rem;
	}

	.add-form .form {
		width: 80%;
	}

}

@media only screen and (max-width: 580px) {
	.title {
		font-size: 2.5rem;
	}

	.jumbotron {
		height: 80vh;
	}

	.jumbo-text {
		font-size: 2rem;
		width: 300px;
		padding: 0 1.5rem;
	}

	.jumbo-title {
		font-size: 2.5rem;
	}

	.add {
		width: 80%;
		padding: 1.5rem 0;
	}
}